body
{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background: color #4f4f4f;;
    direction: ltr;
}
.container
{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
ul{
margin: 0;
padding: 0;
}
header
{
background:burlywood;
color: brown;
padding-top: 30px;
min-height: 70px;
border-top:black 5px solid;
}
header a
{
    color: beige;
    text-decoration: none;
    font-size: 20;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #brand
{
float: left;
}
header #brand h1
{
    margin: 0;
    color:olivedrab;
}
header nav
{
    float: right;
    margin-top: 10px;
}
header .current a
{
    color:olivedrab;
    font-weight: bold;
}
header a:hover
{
    color:rgb(153, 194, 71);
    font-weight:bold;
}
#showcase
{
    min-height: 400px;
    background: url("../images/office.jpg") no-repeat center;
    background-size: cover;
}
#newsletter
{
    padding: 15px;
    color:beige;
    background:burlywood;
}
#newsletter h1
{
    float: right;
}
#newsletter form
{
    float: left;
    margin-top: 15px;
}
#newsletter input[type= "email"]
{
padding: 4px;
height: 25px;
width: 250px;
}
.button
{
    height: 30px;
    background:#cccccc;
    padding-left: 20px;
    padding-right: 20px;
    color: #353635;
}
#boxes
{
    margin-top: px;
}
#boxes .box
{
    float:left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
footer
{
padding: 20px;
margin-top: 20px;
color: beige;
background-color: burlywood;
text-align: center;
}
@media(max-width:768px)
{
    header #brand,
    header nav,
    header nav li,
    #newsletter form,
    #boxes .box
{
    float: none;
    text-align: center;
    width: 100%
}
header
{
    padding-bottom: 20px;
}
    #newsletter .button
{
    display: block;
    width: 100%
}
    #newsletter from input[type="email"]
}